gdown
matplotlib
numba==0.49.1
numpy==1.18.3
icecream
scikit-image
albumentations
einops
linformer
timm
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.7.1+cu110
torchvision==0.8.2+cu110
tensorflow
wandb
adamp
git+https://github.com/katsura-jp/pytorch-cosine-annealing-with-warmup

